:root {
    --bg: #3c4d49;
    --p: #fff;
    --s: #6e7a78;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*, ::before, ::after {
    box-sizing: inherit;
}